// typography

body {
    font-family: 'open sans', serif;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
}
h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}
h1 {
    font-size: 2.252em;
}
h2 {
    font-size: 1.838em;
}
h3 {
    font-size: 1.501em;
}
h4 {
    font-size: 1.225em;
}
h5 {
    font-size: 0.816em;
}
p {
    margin-bottom: 1em;
}


// buttons

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    padding: 0 26px;
    color: #777;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #777;
    cursor: pointer;
    box-sizing: border-box;
}



